<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
        
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <title>Detalhe de Evento</title>
</head>

<body>
    <script src="/js/util.js"></script>
    <header>
        <h1 class="text-center">Evento Detalhes</h1>
        <a href="/evento">
            <button type="button" class="btn btn-primary d-flex">
                <i class="material-icons">list</i> <span>Lista de Eventos</span>
            </button>
        </a>
    </header>

    <section>
        <div class="container" style="padding-bottom: 30px">
            <div class="card shadow-sm rounded" style="margin-top: 20px;" th:each="evento: ${evento}">
                <div class="card-body">
                    <p class="card-title d-flex" style="font-weight: bold; color: black; padding-top: 5px;">
                        <i class="material-icons">event</i>Evento: <span th:text="${evento.nome}"></span></a>
                    </p>
                    <p class="card-title d-flex"> <i class="material-icons">place</i>Local: <span
                            th:text="${evento.local}"></span></p>
                    <p class="card-title d-flex"> <i class="material-icons">date_range</i>Data:<span
                            th:text="${evento.data}"></span></p>
                    <p class="card-title d-flex"> <i class="material-icons">access_time</i>Horário:<span
                            th:text="${evento.horario}"></span></p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container" style="padding-bottom: 80px">
            <h3>Cadastrar Convidados</h3>
            <form method="post" class="needs-validation" th:object="${convidado}">
                <div th:insert="util/fragments/message.html :: msg"> </div>
                <div>
                    <label for="idNome">Nome: </label>
                    <input type="text" id="idNome" class="form-control" th:field="*{nome}"
                            placeholder="Digite seu nome">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
                </div>
                
                <div><label for="idRg">RG: </label>
                    <input type="text" class="form-control"  name="rg" id="idRg" th:field="*{rg}" placeholder="Digite seu RG" />
                    <div  class="alert alert-danger" th:if="${#fields.hasErrors('rg')}" th:errors="*{rg}"></div>
                </div>
                <div>
                    <br>
                    <button type="submit" class="btn btn-primary d-flex">
                        <i class="material-icons">add</i> <span>Salvar</span>
                    </button>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="container" style="padding-bottom: 80px">
            <h3>Lista de Convidados</h3>
            <table class="container table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">RG</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="convidado: ${convidados}">
                        <td><span th:text="${convidado.nome}"></span></td>
                        <td><span th:text="${convidado.rg}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>

</html>