<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" <!-- Bootstrap CSS -->

<head>
    <th:block th:include="fragments/head"></th:block>
    <title>Cadastro de Evento</title>
</head>

<body>
    
    <th:block th:include="fragments/navBar"></th:block>
    </header>

    <section>
        
        <div class="container" style="padding-bottom: 80px">
            <div th:insert="fragments/messageSucesso.html :: msg(text='Evento cadastrado!')"> </div>
            <form method="post" class="from-group" th:object="${evento}">
                <h3>Cadastrar Novo Evento</h3>
                <div>
                    <label for="idNome">Nome: </label>
                    <input type="text" id="idNome" class="form-control" th:field="*{nome}"
                        placeholder="Digite o nome do evento">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
                </div>


                <div>
                    <label for="idLocal">Local: </label>
                    <input type="text" id="idLocal" class="form-control" th:field="*{local}"
                            placeholder="Digite o local do evento">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('local')}" th:errors="*{local}">
                </div>

                <div class="row">
                   
                    <div class="col">
                        <label for="idData">Data: </label>
                        <input type="date" id="idData" class="form-control" th:field="*{data}"
                                placeholder="Digite a data do evento">
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('data')}" th:errors="*{data}"> </div>
                    </div>
    
                    <div class="col">
                        <label for="idHorario">Horario: </label>
                        <input type="time" id="idHorario" class="form-control" th:field="*{horario}"
                                placeholder="Digite o horario do evento">
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('horario')}" th:errors="*{horario}"></div>
                    </div>
                </div>

                <div>
                    <br>
                    <button type="submit" class="btn btn-primary d-flex">
                        <i class="material-icons">add</i> <span>Salvar</span>
                    </button>
                </div>
            </form>
        </div>
    </section>

   
</body>

</html>