<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Eventos</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/cadastrarEvento">
                    <button class="btn btn-primary d-flex" type="button" data-toggle="collapse"
                        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <i class="material-icons">add</i> <span>Novo Evento</span>
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/evento">
                    <button class="btn btn-primary d-flex" type="button" data-toggle="collapse"
                        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <i class="material-icons">list</i> <span>Listar Eventos</span>
                    </button>
                </a>
            </li>

        </ul>
    </div>
</nav>