<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <title>Gerenciamento de Eventos</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Eventos</a>
            <div class="navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/cadastrarEvento">
                            <button class="btn btn-primary d-flex" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="material-icons">add</i> <span>Novo</span>
                        </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/evento">
                            <button class="btn btn-primary d-flex" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="material-icons">list</i> <span>Listar</span>
                        </button>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <div class="container" style="padding-bottom: 30px">
            <h3>Eventos Cadastrados</h3>
            <div class="card shadow-sm rounded" style="margin-top: 20px;" th:each="evento: ${eventos}">
                <div class="card-body">
                  
                <div class="row">
                   
                    <div class="col">
                    <p class="card-title d-flex" style="font-weight: bold; color: black; padding-top: 5px;">
                        
                      
                        <a th:href="@{'/evento/' + ${evento.id}}" class="d-flex"> 
                            <span class="material-icons">event</span>
                            Evento: <span th:text="${evento.nome}"></span>
                        </a>
                    </p>   
                    </div>

                    <div class="col text-right ">
                    <a th:href="@{'/removerEvento/' + ${evento.id}}"  >
                            <i class="material-icons">delete</i> 
                        </a>
                    </div>   
                        

                       
         
                </div>
                   
                    <p class="card-title d-flex"> <i class="material-icons">place</i>Local: <span
                            th:text="${evento.local}"></span></p>
                    <p class="card-title d-flex"> <i class="material-icons">date_range</i>Data:<span
                            th:text="${evento.data}"></span></p>
                    <p class="card-title d-flex"> <i class="material-icons">access_time</i>Horário:<span
                            th:text="${evento.horario}"></span></p>
                </div>
            </div>
        </div>
    </section>

 

</body>

</html>